@model DataArrayModel

@{
	int playerNumber = 1;
	int arrayIndex = 0;
}

<div class="d-flex flex-column align-items-center">

	<div class="m-3" id="playerContainer">
		<h3>
			Player @playerNumber's Turn. Vote!
		</h3>
	</div>

	<div class="w-25" id="catFactContainer">
		@Model.DataArray[Model.ArrayIndex].ItemData
	</div>


	<div class="w-40 mt-5">
		<button id="btnHate" class="m-1 btn btn-outline-light" data-index="@arrayIndex" data-vote="hate">I Hate It</button>
		<button id="btnOkay" class="m-1 btn btn-outline-light" data-index="@arrayIndex" data-vote="okay">It's Okay</button>
		<button id="btnLike" class="m-1 btn btn-outline-light" data-index="@arrayIndex" data-vote="like">I Like It</button>
		<button id="btnLove" class="m-1 btn btn-outline-light" data-index="@arrayIndex" data-vote="love">I Love It</button>
	</div>


	<div>
		</br>
		</br>
		</br>
		</br>

		<button id="btnReset" class="mt-1 btn btn-outline-light">Back To Start</button>
	</div>

</div>
